body {
    background: url('351379.jpg') fixed;
        background-size: cover;
}
.main-menu {
    background: white;
    padding: 15px; 
    opacity: 0.6;
    cursor: pointer;

}
.main-menu ul {
    
    padding: 0;
    list-style: none;
}
.main-menu li {
    border:1px solid black; 
    
}
.main-menu:hover {
    opacity: 1;
}
.main-section {
     background: #a6e1ec;
    padding: 15px;  
    opacity: 0.6;
    cursor: pointer;
  
}
.main-section ul {
    list-style: none;
}
.main-menu:hover {
    opacity: 1;
}
.category-form {
    padding: 15px;
}